@charset "utf-8";
/* ============================== 重置 ============================== */
html {
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial, Simsun, sans-serif;
	background: #fff;
	color: #666;
}
body {
	height: 100%;
	position: relative;
	margin: 0;
}
a{ text-decoration: none;}
/* ============================== 库 ============================== */
.ku_fix {
	zoom: 1;
}
.ku_fix:after {
	display: block;
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* ============================== 框架 ============================== */
.site_w{width: 1200px; margin: auto;}
/* ============================== 当前 ============================== */
.mod_path{ position: relative; line-height: 44px;}
.mod_path a{ float:left; color:#1c7ad9;}
.mod_path em{ float:left; font-family:simsun; font-style:normal; padding:0 10px; color:#bbb;}
.mod_path strong{ float:left; font-weight:normal;}
.mod_path .count{ position: absolute; right: 0; top: 0; }
.mod_path .count b{ font-weight: normal; padding: 0 2px; vertical-align: top;}
